<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fr.sys.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.fr.sys.model.SysUser">
    <id column="user_login_id" jdbcType="VARCHAR" property="userLoginId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->
    <!--
        根据id查询得到一个user对象
     -->
    <select id="getSysUser" parameterType="String" resultType="com.fr.sys.model.SysUser">
        select * from sys_user where user_login_id=#{userLoginId}
    </select>


    <select id="getSysUserWithPermission" parameterType="String" resultMap="getSysUserWithRoleMap">
       select * from sys_user where user_login_id=#{userLoginId}
    </select>


    <select id="getUserList" parameterType="String" resultMap="BaseResultMap">
        select * from sys_user WHERE user_name LIKE '%${keyword}%' or sex LIKE '%${keyword}%' or user_login_id LIKE '%${keyword}%' or password LIKE '%${keyword}%'
    </select>

  <resultMap id="getSysUserWithRoleMap" type="com.fr.sys.model.SysUser">
    <id column="user_login_id" property="userLoginId" />
    <result column="user_name" property="userName" />
    <result column="sex" property="sex" />
    <result column="password" property="password" />
    <!--select语句是针对与集合中的查询类型-->
    <collection column="user_login_id"  ofType="com.fr.sys.model.SysRole" property="roleList" select="getSysUserWithPermissionRole">
    </collection>
  </resultMap>
  
  <select id="getSysUserWithPermissionRole" parameterType="String" resultMap="getSysUserWithPermissionRoleMap">
       select * from sys_role where sys_role.role_id in
            (select sys_user_role.role_id from sys_user_role where sys_user_role.user_login_id=#{userLoginId})
  </select>

  <resultMap id="getSysUserWithPermissionRoleMap" type="com.fr.sys.model.SysRole">
      <id column="role_id" property="roleId"></id>
      <result column="role_id" property="roleId"></result>
      <result column="role_name" property="roleName"></result>
      <collection column="role_id" property="permissionList" ofType="com.fr.sys.model.SysPermission" select="com.fr.sys.mapper.SysPermissionMapper.getPermissionByRoleId">
      </collection>
  </resultMap>




</mapper>