
#head{
	height:50px;
	font-size:20px;
	color:white;
	background-color:#404553;
	padding-left: 123px;
    padding-top: 10px;
    display: block;
}
#creatCompany{
	    margin-left: 180px;
}
.mainLeft{
	
}
.mainRight{
	
}